* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Resource selectors: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors  */

@font-face {
    font-family: "IBM Plex Sans Roman";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

@font-face {
    font-family: 'Roboto VF';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57225/Roboto-VF.woff2") format("woff2-variations");
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Resource Roboto variable font https://codepen.io/electricgarden/pen/PooLxGJ  */


:root {
    --green: #189100;
    --white: #fff;
    --gray: #ebebeb;
    --black: #333333;
    --midgray: #666666;
    /* --border-width: calc(5% - 10px); */

    --font-heading: 'IBM Plex Sans Roman', Times;
    --font-body: 'Catamaran', sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

html {
    overflow-x: hidden;
    font-size: 100%;
    color: var(--black);
    font-family: var(--font-body);
    font-weight: 100;
    background: var(--white);
}


a:first-child {
    background-color: var(--green);
    text-decoration: underline;
    padding: 1rem 4rem 1rem 1rem;
    color: var(--white);

}

/* ACCESSIBILITY  */
.hidden,
[href="#sweets"] {
    clip: rect(0 0 0 0);
    position: absolute;
    top: -1em;
    transition: .2s;
}

.hidden,
[href="#sweets"]:focus {
    clip: auto;
    top: 0;
}

[href="#sweets"] span {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: absolute;
    top: 0;
    opacity: 0;
}

[href="#sweets"]:focus span {
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: .3s;
    transform-origin: center center;
    animation-fill-mode: forwards;
    padding-left: .5rem;
}

/* END ACCESSIBILITY  */






/* _____________________  Logo & first header  _____________________ */
body>header {
    /* RESOURCE https://stackoverflow.com/questions/12080101/css-bodyfirst-child/12080135 */
    width: min(60rem, 90%);
    height: 100vh;
    /* background-color: coral; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

body>header p {
    width: 100%;
    margin: 0 auto;
    padding-bottom: .5rem;
    text-align: center;
    font-size: clamp(1.6rem, 6vw, 4rem);
    color: var(--white);
    background-color: var(--green);
    position: absolute;
    top: 55%;
    left: 0%;
}

h1 {
    width: 100vw;
    font-size: clamp(2rem, 8vw, 6rem);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

}

h1 span:first-child {
    margin: 0 .5em;
}

h1 span:nth-child(2) {
    position: absolute;
    left: 20%;
    right: 40%;
    color: var(--green);
    font-weight: 100;
    font-variation-settings: 'wght'100, 'wdth'85;
    animation: breathe 4s infinite both;
}

/* RESOURCE: https://css-irl.info/variable-font-animation-with-css-and-splitting-js/ */

/* _____________________  END Logo & first header  _____________________ */




/* _____________________  CLIPBOARD _____________________ */
/* BODY CLIPBOARD  */
main {
    overflow-y: hidden;
    height: min(80vh, 60rem);
    /* height: 80vh; */
    width: min(40em, 90%);
    margin: 1rem auto;
    background-color: var(--gray);
    padding: 0 calc(5% - 10px) 0 5%;
    border-top: 2.5rem solid var(--gray);
    border-bottom: 2rem solid var(--gray);
    border-radius: 1rem;
    z-index: 5;
    position: relative;

}

/* PAPER CLIPBOARD  */
main>div {
    overflow-y: scroll;
    background: var(--white);
    padding-bottom: 2em;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.57);
    height: min(80vh, 60rem);
    z-index: 20;
}

main>div::-webkit-scrollbar {
    background: var(--white);
    width: 10px;
}

main>div::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: .5em;
}

/* DROPPING PAPER ANIMATION  */
input[type=checkbox]:checked~main>div {
    transform: translateY(calc(100% + 10em));
    transition: transform .4s cubic-bezier(1, -0.11, .87, .73);
    transition-delay: 1s;
}

/* Resource Chrome browsers error blurry text: https://stackoverflow.com/questions/32034574/font-looks-blurry-after-translate-in-chrome  */

input[type=checkbox]:not(:checked)~main>div {
    transform: translateY(calc(0));
    transition: transform .4s cubic-bezier(1, -0.11, .43, 1.21);
    transition-delay: 1.5s;
}

/* Resource Cubic brezier: https://cubic-bezier.com/#1,-0.11,.43,1.21  */
/* resource: https://stackoverflow.com/questions/19684204/uncheck-checkbox-css3-animation/19684432  */
/* Resource: https://css-tricks.com/almanac/selectors/c/checked/  */


input[type=checkbox] {
    opacity: 0;
}


/* WAITER ASKING MENU CARD  */
/* 👨🏻‍🍳  */
body>div:nth-of-type(2) {
    width: 15em;
    height: 100vh;
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% - 7.5em);
    margin: 0 auto;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: .5s;
}

/* CHECKBOX UNCHECKED, WAITER RUNS TO GET MENU  */
body>div:nth-of-type(2) span {
    display: block;
    font-size: 3em;
    transform: translateX(70vw);
    transition: transform 1.5s cubic-bezier(.12, -0.46, .43, 1.41);
    transition-delay: .5s;
}

body>div:nth-of-type(2) label {
    margin: 1rem;
    padding: 1rem;
    background: var(--green);
    border-radius: .5rem;
    color: var(--white);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.57);
    transition: all .5s ease-in-out;
}

body>div:nth-of-type(2) label:hover {
    background: var(--white);
    color: var(--green);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.57);
    transition: all .5s ease-in-out;
}

input[type=checkbox]:checked~div:nth-of-type(2) {
    opacity: 1;
    transition: opacity .5s ease-in;
    transition-delay: 5s;
    /* transition: z-index 5s ease-in; */
    z-index: 10;
}

/* checked  appear waiter*/
input[type=checkbox]:checked~div:nth-of-type(2) span {
    transform: translateX(0);
    transition: transform 1.5s cubic-bezier(.12, -0.46, .43, 1.41);
    transition-delay: 5s;
}

/*  CLIPPER  */
body>div {
    width: 12em;
    height: 3em;
    margin: 0 auto;
    position: relative;
}

label:first-child {
    width: 12em;
    height: 5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(118, 119, 121, 1)), color-stop(8%, rgba(153, 154, 158, 1)), color-stop(31%, rgba(233, 233, 225, 1)), color-stop(61%, rgba(175, 176, 180, 1)), color-stop(76%, rgba(145, 153, 156, 1)), color-stop(92%, rgba(87, 94, 88, 1)), color-stop(95%, rgba(145, 153, 156, 1)), color-stop(100%, rgba(175, 176, 180, 1)));
    border-radius: 1em 1em 0 0;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.57);
    z-index: 100;
    transition: box-shadow 1s;
}

label:first-child:hover {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.57);
    transition: box-shadow 1s;
}

.clip::before {
    width: 5em;
    height: 2.1em;
    background: rgb(118, 119, 121);
    position: absolute;
    top: -40%;
    left: calc(50% - 2.5em);
    content: "";
    border-radius: .5em .5em 0 0;
    z-index: 5;
}

.clip::after {
    width: 1em;
    height: 1em;
    background: var(--white);
    position: absolute;
    top: -30%;
    left: calc(50% - .5em);
    content: "";
    border-radius: 50%;
    z-index: 7;
}

/* END CLIPPER  */


/* MENU HEADINGS EXAMPLE; NOSHES  */
h2 {
    font-family: "Roboto VF", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: var(--green);
    font-variation-settings: 'wght'100, 'wdth'185;
    transition: font-variation-settings 2s ease-in-out;
    margin-top: 1rem;

}

h2:hover {
    font-variation-settings: 'wght'600, 'wdth'185;
    transition: font-variation-settings 2s ease-in-out;
}

/* MENU PAGES  */
section {
    background-color: var(--white);
    padding: 1em;
    padding-bottom: 2em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    justify-self: center;
    column-gap: 1em;
    row-gap: 2em;

}

/* MENU HEADER EXAMPLE; NOSHES */
section header {
    margin-bottom: 1rem;
    grid-column: 1 / -1;
    /* Resource - responsive but keep the first item on 1 row: https://stackoverflow.com/questions/50447477/how-do-i-make-the-first-grid-item-span-100  */
}

/* MENU HEADER EXPLAINING THE HEADER EXAMPLE; SMALL DISHES  */
section header p {
    background-color: var(--green);
    color: var(--white);
    padding: .5rem;
    margin: .3rem;
    font-style: italic;
    text-align: center;
    border-radius: .5em 0 .5em 0;
}

/* MENU DISHES  */
article {
    border: 1px solid var(--green);
    background: var(--white);
    text-align: center;
    position: relative;
}

article:hover {
    /* background-color: yellow; */
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: 1;
    transform-origin: top center;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.455, 1.310);
}

/* MENU DISH HEADER  */
article h3 {
    color: var(--green);
    padding: 1rem 1rem 0 1rem;
}

/* MENU DISH CONTENT  */
article p {
    padding: .5rem 1rem 2rem 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

/* PRICING  */
article div {
    background: var(--green);
    color: var(--white);
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 1.25rem);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: var(--font-heading);
}

article div::after {
    background-color: var(--green);
    position: absolute;
    width: 2rem;
    height: 2rem;
    content: "€";
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: var(--font-heading);
    animation-name: breathe;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    transition: .5s;
}

article div:hover::after {
    background-color: transparent;
    content: "";
    transition: .5s;
}

section article:nth-child(odd) div::after {
    animation-delay: 1s;
}

section article:nth-child(even) div::after {
    animation-delay: 2s;
}






/* _____________________  ANIMATIONS  _____________________ */

@keyframes breathe {
    0% {
        font-variation-settings: 'wght'100, 'wdth'85;
    }

    60% {
        font-variation-settings: 'wght'700, 'wdth'85;
    }

    100% {
        font-variation-settings: 'wght'100, 'wdth'85;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    100% {
        transform: scale(2.5);
        opacity: 1;
    }
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0)
    }

    25% {
        transform: rotate(2deg)
    }

    75% {
        transform: rotate(-3deg)
    }
}

@keyframes falldown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(100% + 10em));
    }
}



/* DARK MODE  */
@media screen and (prefers-color-scheme: dark) {

    /* BACKGROUND TO DARK LOGO TO LIGHT  */

    :root {
        --white: #333333;
        --black: #fff;
        --gray: black;
    }


    body>header p {
        --white: #fff;
        --black: #333333;
        color: var(--white);
        background-color: var(--black);
        border: 1px solid var(--white);
    }


    a:first-child {
        --white: #fff;
        background-color: var(--white);
        color: var(--green);
    }

    main>div,
    main>div::-webkit-scrollbar,
    section,
    article {
        background: var(--midgray);
    }

    h2,
    article h3 {
        --white: #fff;
        color: var(--white);
    }




}