* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "IBM Plex Sans Roman";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

@font-face {
    font-family: 'Roboto VF';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57225/Roboto-VF.woff2") format("woff2-variations");
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Resource Roboto variable font https://codepen.io/electricgarden/pen/PooLxGJ  */


:root {
    --green: #189100;
    --white: #fff;
    --gray: #ebebeb;
    --black: #333333;
    --border-width: calc(5% - 10px);

    --font-heading: 'IBM Plex Sans Roman', Times;
    --font-body: 'Catamaran', sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

html {
    overflow-x: hidden;
    font-size: 100%;
    color: var(--black);
    font-family: var(--font-body);
    font-weight: 100;
}

a:first-child {
    background-color: var(--green);
    text-decoration: underline;
    padding: 1rem 4rem 1rem 1rem;
    color: white;

}

/* ACCESSIBILITY  */
.hidden,
[href="#sweets"] {
    clip: rect(0 0 0 0);
    position: absolute;
    top: -1em;
    transition: .2s;
}

.hidden,
[href="#sweets"]:focus {
    clip: auto;
    top: 0;
}

[href="#sweets"] span {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: absolute;
    top: 0;
    opacity: 0;
}

[href="#sweets"]:focus span {
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: .3s;
    transform-origin: center center;
    animation-fill-mode: forwards;
    padding-left: .5rem;
}

/* END ACCESSIBILITY  */

body> :nth-child(2) {
    /* RESOURCE https://stackoverflow.com/questions/12080101/css-bodyfirst-child/12080135 */
    width: min(60rem, 90%);
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

body> :nth-child(2) p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.6rem, 6vw, 4rem);
    color: var(--white);
    background-color: var(--green);
    opacity: .3;
    position: absolute;
    top: 55%;
    left: 0%;
    z-index: 1;
}

main {
    overflow-y: scroll;
    height: min(100vh - 10rem, 40rem);
    width: min(40em, 90%);
    margin: 1rem auto;
    background-color: var(--gray);
    padding: 0 calc(5% - 10px) 0 5%;
    border-top: 3rem solid var(--gray);
    border-bottom: 3rem solid var(--gray);
    border-radius: 1rem;
}

main::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

main::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: .5em;
}

section {
    background-color: var(--white);
    padding: 3em;
    z-index: 100;
    box-shadow: .3em .7em 1.7em -.2em rgba(0, 0, 0, 0.44);
    margin-bottom: 3em;
}

h1 {
    font-size: clamp(2rem, 8vw, 6rem);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

h1 span:first-child {
    margin: 0 .5em;
}

h1 span:nth-child(2) {
    position: absolute;
    left: 20%;
    right: 40%;
    color: var(--green);
    font-weight: 100;
    font-variation-settings: 'wght'100, 'wdth'85;
    animation: breathe 4s infinite both;
}

/* RESOURCE: https://css-irl.info/variable-font-animation-with-css-and-splitting-js/ */


h2 {
    font-family: "Roboto VF", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: var(--green);
    font-variation-settings: 'wght'100, 'wdth'185;
    transition: font-variation-settings 2s ease-in-out;

}

h2:hover {
    font-variation-settings: 'wght'600, 'wdth'185;
    transition: font-variation-settings 2s ease-in-out;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
}

section header {
    margin-bottom: 1rem;
    grid-column-end: span 2;
}

section header p {
    background-color: var(--green);
    color: var(--white);
    padding: .5rem;
    margin: .3rem;
    font-style: italic;
    text-align: center;
    border-radius: .5em 0 .5em 0;
}

article {
    background: yellow;
    border: 1px solid var(--green);
}



@keyframes breathe {
    0% {
        font-variation-settings: 'wght'100, 'wdth'85;
    }

    60% {
        font-variation-settings: 'wght'700, 'wdth'85;
    }

    100% {
        font-variation-settings: 'wght'100, 'wdth'85;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    100% {
        transform: scale(2.5);
        opacity: 1;
    }
}